@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: rgb(225, 103, 103);
    color: white;
    height: 35px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gameInfo{
    padding: 0 34px;

}

.box:hover{
    background-color: rgb(213, 230, 177);
    font-family: 'Baloo Bhaina 2', cursive;
}


.imgbox img{
    dsiplay: none;
}



.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}
























